<!DOCTYPE html>
<html>
<head>
    <!-- Title -->
    <title>JCake Homepage</title>
    <!-- Meta -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Favicon -->
    <link href="favicon.ico" rel="shortcut icon">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.css" rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/stylesheets/css/animate.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/css/nexus.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/css/custom.css" rel="stylesheet">
    <!-- Google Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300" rel="stylesheet" type="text/css">

</head>
<body>
<div id="body-bg">

    <%-include ./common/header.ejs%>
    <!-- End Phone/Email -->

    <!-- === BEGIN CONTENT === -->
    <div class="modal fade" id="modal1" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">어린이집 생일파티 쿠키</h4>
                </div>
                <div class="modal-body">
                    <img src="/images/cookie1-1.jpeg" alt="">
                    <img src="/images/cookie1-2.jpeg" alt="">
                    <img src="/images/cookie1-3.jpeg" alt="">
                    <img src="/images/cookie1-4.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal2" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">다쿠아즈 클라스</h4>
                </div>
                <div class="modal-body">
                    <img src="/images/cookie2-1.jpeg" alt="">
                    <img src="/images/cookie2-2.jpeg" alt="">
                    <img src="/images/cookie2-3.jpeg" alt="">
                    <img src="/images/cookie2-4.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal3" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">코엔도르 프리앙</h4>
                </div>
                <div class="modal-body">
                    <img src="/images/cookie3-1.jpeg" alt="">
                    <img src="/images/cookie3-2.jpeg" alt="">
                    <img src="/images/cookie3-3.jpeg" alt="">
                    <img src="/images/cookie3-4.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal4" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">답례품 쿠키</h4>
                </div>
                <div class="modal-body">
                    <img src="/images/cookie4-1.jpeg" alt="">
                    <img src="/images/cookie4-2.jpeg" alt="">
                    <img src="/images/cookie4-3.jpeg" alt="">
                    <img src="/images/cookie4-4.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal5" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">딸기 타르트</h4>
                </div>
                <div class="modal-body">
                    <img src="/images/cookie5-1.jpeg" alt="">
                    <img src="/images/cookie5-2.jpeg" alt="">
                    <img src="/images/cookie5-3.jpeg" alt="">
                    <img src="/images/cookie5-4.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal6" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">청포도 타르트</h4>
                </div>
                <div class="modal-body">
                    <img src="/images/cookie6-1.jpeg" alt="">
                    <img src="/images/cookie6-2.jpeg" alt="">
                    <img src="/images/cookie6-3.jpeg" alt="">
                    <img src="/images/cookie6-4.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal7" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">월병 클라스</h4>
                </div>
                <div class="modal-body">
                    <img src="/images/cookie7-1.jpeg" alt="">
                    <img src="/images/cookie7-2.jpeg" alt="">
                    <img src="/images/cookie7-3.jpeg" alt="">
                    <img src="/images/cookie7-4.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal8" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">홈베이킹 클라스</h4>
                </div>
                <div class="modal-body">
                    <img src="/images/cookie8-1.jpeg" alt="">
                    <img src="/images/cookie8-2.jpeg" alt="">
                    <img src="/images/cookie8-3.jpeg" alt="">
                    <img src="/images/cookie8-4.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="bottom-border-shadow">
        <div class="container background-white bottom-border">
            <div class="row margin-vert-30">
                <!-- Main Text -->
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a type="button" data-toggle="modal" href="#modal1">
                            <img src="/images/cookie1.jpeg" alt="...">
                            <div class="caption">
                                <h3 class="text-center">어린이집 생일파티 쿠키</h3>
                                <p class="text-right margin-bottom-0">2016.10.22</p>
                                <!-- Modal -->
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a type="button" data-toggle="modal" href="#modal2">
                            <img src="/images/cookie2.jpeg" alt="...">
                            <div class="caption">
                                <h3 class="text-center">다쿠아즈 클라스</h3>
                                <p class="text-right margin-bottom-0">2016.10.19</p>
                                <!-- Modal -->
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a type="button" data-toggle="modal" href="#modal3">
                            <img src="/images/cookie3.jpeg" alt="...">
                            <div class="caption">
                                <h3 class="text-center">코엔도르 프리앙</h3>
                                <p class="text-right margin-bottom-0">2016.10.09</p>
                                <!-- Modal -->
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a type="button" data-toggle="modal" href="#modal4">
                            <img src="/images/cookie4.jpeg" alt="...">
                            <div class="caption">
                                <h3 class="text-center">답례품 쿠키</h3>
                                <p class="text-right margin-bottom-0">2016.10.01</p>
                                <!-- Modal -->
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a type="button" data-toggle="modal" href="#modal5">
                            <img src="/images/cookie5.jpeg" alt="...">
                            <div class="caption">
                                <h3 class="text-center">딸기 타르트</h3>
                                <p class="text-right margin-bottom-0">2016.10.01</p>
                                <!-- Modal -->
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a type="button" data-toggle="modal" href="#modal6">
                            <img src="/images/cookie6.jpeg" alt="...">
                            <div class="caption">
                                <h3 class="text-center">청포도 타르트</h3>
                                <p class="text-right margin-bottom-0">2016.09.17</p>
                                <!-- Modal -->
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a type="button" data-toggle="modal" href="#modal7">
                            <img src="/images/cookie7.jpeg" alt="...">
                            <div class="caption">
                                <h3 class="text-center">월병 클라스</h3>
                                <p class="text-right margin-bottom-0">2016.09.03</p>
                                <!-- Modal -->
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a type="button" data-toggle="modal" href="#modal8">
                            <img src="/images/cookie8.jpeg" alt="...">
                            <div class="caption">
                                <h3 class="text-center">홈베이킹 클라스</h3>
                                <p class="text-right margin-bottom-0">2016.08.22</p>
                                <!-- Modal -->
                            </div>
                        </a>
                    </div>
                </div>
                <!-- End Main Text -->
            </div>
        </div>
    </div>
    <!-- === END CONTENT === -->

    <%-include ./common/footer%>
    <%-include ./common/js%>
    </div>
</body>
</html>
