<!DOCTYPE html>
<html>
  <head>
    <!-- Title -->
        <title>JCake Homepage</title>
        <!-- Meta -->
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <!-- Favicon -->
        <link href="favicon.ico" rel="shortcut icon">
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="/stylesheets/css/bootstrap.css" rel="stylesheet">
        <!-- Template CSS -->
        <link rel="stylesheet" href="/stylesheets/css/animate.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/css/nexus.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/css/responsive.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/css/custom.css" rel="stylesheet">
        <!-- Google Fonts-->

      <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=pOWIfM9XDlvXBf6q16MQ"></script>

  </head>
  <body>
    <div id="body-bg">

           <%-include ./common/header%>


            <!-- === BEGIN CONTENT === -->
        <div id="slideshow" class="bottom-border-shadow">
            <div class="container no-padding background-white bottom-border">
                <div class="row">
                    <!-- Carousel Slideshow -->
                    <div id="carousel-example" class="carousel slide" data-ride="carousel">
                        <!-- Carousel Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example" data-slide-to="1"></li>
                            <li data-target="#carousel-example" data-slide-to="2"></li>
                        </ol>
                        <div class="clearfix"></div>
                        <!-- End Carousel Indicators -->
                        <!-- Carousel Images -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="/images/slidephoto1.png">
                            </div>
                            <div class="item">
                                <img src="/images/slidephoto2.png">
                            </div>
                            <div class="item">
                                <img src="/images/slidephoto3.png">
                            </div>
                            <div class="item">
                                <img src="/images/slidephoto4.png">
                            </div>
                        </div>
                        <!-- End Carousel Images -->
                        <!-- Carousel Controls -->
                        <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                        <!-- End Carousel Controls -->
                    </div>
                    <!-- End Carousel Slideshow -->
                </div>
            </div>
        </div>


        <div id="content" class="bottom-border-shadow">
            <div class="container background-white bottom-border">
                <div class="row margin-vert-30">
                    <!-- Main Text -->
                    <div class="col-md-6">

                        <h2>이용 안내</h2>
                        <br>
                        <h3>운영 시간</h3>
                        <p>주문제작 및 클래스로만 운영하기 때문에 주문 및 수업이 없을 경우 문을 열지 않을때가 많습니다. 수업은 오전 10시 부터 가능합니다 </p>
                        <br><h3>식재료</h3>
                        <p>서울우유버터, 서울우유 생크림,  무항생제 달걀, 앵커버터, 발로나 초콜릿, 마다가스카르 바닐라, 알루미늄 프리 베이킹파우더 등 믿을수 있는 재료만을 사용합니다. 방부제, 유화제 등은 절대 사용하지 않습니다.</p>
                        <br><h3>예약 문의</h3>
                        <p>주문 및 클래스 문의는 최소 2일~7일 전에는 해주셔야 합니다.
                            혼자 운영하는 가게라 주문 및 수업이 미리 잡혀 있으면 아쉽지만 모두 해드리지 못하는 경우가 생길수도 있어요.</p>
                    </div>
                    <!-- End Main Text -->
                    <div class="col-md-6">
                        <h3 class="padding-vert-10">찾아오는 길</h3>
                        <div id="map" style="width:100%;height:400px;"></div>

                        <script>
                            var HOME_PATH = window.HOME_PATH || '.';
                            var map = new naver.maps.Map('map', {
                                center: new naver.maps.LatLng(36.0836846, 129.3981850),
                                zoom: 13
                            });
                            var marker = new naver.maps.Marker({
                                position: new naver.maps.LatLng(36.0832000, 129.3977850),
                                map: map
                            });
                            var contentString = [
                                '<div class="iw_inner">',
                                '   <h3>JCake</h3>',
                                '   <p>경상북도 포항시 북구 양덕동 1457번지 남광 하우스스토리 상가 2층<br />',
                                '   </p>',
                                '</div>'
                            ].join('');

                            var infowindow = new naver.maps.InfoWindow({
                                content: contentString
                            });

                            naver.maps.Event.addListener(marker, "click", function(e) {
                                if (infowindow.getMap()) {
                                    infowindow.close();
                                } else {
                                    infowindow.open(map, marker);
                                }
                            });

                            infowindow.open(map, marker);
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <!-- === END CONTENT === -->


        <%-include ./common/footer%>
        <%-include ./common/js%>
    </body>
</html>
