<!DOCTYPE html>
<html>
  <head>
    <!-- Title -->
    <title>JCake Homepage</title>
    <!-- Meta -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Favicon -->
    <link href="favicon.ico" rel="shortcut icon">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.css" rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/stylesheets/css/animate.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/css/nexus.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/css/custom.css" rel="stylesheet">
    <!-- Google Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300" rel="stylesheet" type="text/css">

  </head>
  <body>
  <div id="body-bg">

    <%-include ./common/header.ejs%>
    <!-- End Phone/Email -->



    <!-- === BEGIN CONTENT === -->


    <div id="content" class="bottom-border-shadow">
      <div class="container background-white bottom-border">
        <div class="row margin-vert-30">
          <!-- Main Text -->
          <div class="col-md-12">
            <img src="/images/intro1.jpeg" class="center-block" alt="flower cake">
            <h1 class="text-center">Flower Cake</h1>
            <p class="text-center">플라워케이크
              사이즈 - 1호(4~6명) 2호(6~8명) 3호(8~10명)<br>
              타입 - 크레센트(초승달) 리스(화관) 블러썸(윗면을 가득히)<br>
              시트 - 바닐라 모카 녹차 당근 중에서 고르시면 됩니다. <br>
              문구 간단히 넣어드립니다. <br>
              3~4일전에 문의주세요</p>
            <img src="/images/intro2.jpeg" class="center-block" alt="roll cake">
            <h1 class="text-center">Roll Cake</h1>
            <p class="text-center">
              캐릭터 및 메세지 롤케이크 <br>
              촉촉하고 부드러운 시트에 우유생크림을 가득채웠습니다 <br>
              원하는 그림 및 캐릭터, 문구는 상의하여 제작됩니다 <br>
              길이 26~27cm의 큼지막한 사이즈로 2등분. 3등분으로도 포장 가능합니다. 2~3일 전에 문의주세요 <br>
            </p>

            <img src="/images/intro3.jpeg" class="center-block" alt="makaron">
            <h1 class="text-center">Makaron</h1>
            <p class="text-center">
              마카롱 <br>
              일반마카롱 개당 1000원 <br>
              캐릭터 마카롱 개당 1400원 <br>
              박스 포장시 비용 추가 <br>
              간단한 스티커 작업 가능, 상자 및 리본 등 포장은 변경가능합니다. <br>
              대량 주문일 경우 최소 일주일전에 문의주세요 <br>
            </p>
          </div>
          <!-- End Main Text -->
          
        </div>
      </div>
    </div>
    <!-- === END CONTENT === -->


    <%-include ./common/footer%>
    <%-include ./common/js%>
  </body>
</html>
