<!DOCTYPE html>
<html>
<head>
    <!-- Title -->
    <title>JCake Homepage</title>
    <!-- Meta -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Favicon -->
    <link href="favicon.ico" rel="shortcut icon">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.css" rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/stylesheets/css/animate.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/css/nexus.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/css/custom.css" rel="stylesheet">
    <!-- Google Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300" rel="stylesheet" type="text/css">

</head>
<body>
<div id="body-bg">
    <!-- Phone/Email -->
    <div id="pre-header" class="background-gray-lighter">
        <div class="container no-padding">
            <div class="row hidden-xs">
                <div class="col-sm-6 padding-vert-5">
                    <strong>Phone:</strong>&nbsp;1-800-123-4567
                </div>
                <div class="col-sm-6 text-right padding-vert-5">
                    <strong>Email:</strong>&nbsp;info@joomla51.com
                </div>
            </div>
        </div>
    </div>
    <%-include ./common/header.ejs%>
    <!-- End Phone/Email -->

    <!-- === BEGIN CONTENT === -->
    <div class="modal fade" id="modal1" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">생크림 포토 케이크</h4>
                </div>
                <div class="modal-body">
                    <img src="/images/photo1-1.jpeg" alt="">
                    <img src="/images/photo1-2.jpeg" alt="">
                    <img src="/images/photo1-3.jpeg" alt="">
                    <img src="/images/photo1-4.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal2" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">남자친구 생일 케이크</h4>
                </div>
                <div class="modal-body">
                    <img src="/images/photo2-1.jpeg" alt="">
                    <img src="/images/photo2-2.jpeg" alt="">
                    <img src="/images/photo2-3.jpeg" alt="">
                    <img src="/images/photo2-4.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal3" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">축구공 포토 케이크</h4>
                </div>
                <div class="modal-body">
                    <img src="/images/photo3-1.jpeg" alt="">
                    <img src="/images/photo3-2.jpeg" alt="">
                    <img src="/images/photo3-3.jpeg" alt="">
                    <img src="/images/photo3-4.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal4" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">남자친구 생일 케이크</h4>
                </div>
                <div class="modal-body">
                    <img src="/images/photo4-1.jpeg" alt="">
                    <img src="/images/photo4-2.jpeg" alt="">
                    <img src="/images/photo4-3.jpeg" alt="">
                    <img src="/images/photo4-4.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal5" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">어린이집 생일 케이크</h4>
                </div>
                <div class="modal-body">
                    <img src="/images/photo5-1.jpeg" alt="">
                    <img src="/images/photo5-2.jpeg" alt="">
                    <img src="/images/photo5-3.jpeg" alt="">
                    <img src="/images/photo5-4.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal6" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">결혼 1주년 케이크</h4>
                </div>
                <div class="modal-body">
                    <img src="/images/photo6-1.jpeg" alt="">
                    <img src="/images/photo6-2.jpeg" alt="">
                    <img src="/images/photo6-3.jpeg" alt="">
                    <img src="/images/photo6-4.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal7" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">승급 축하 케이크</h4>
                </div>
                <div class="modal-body">
                    <img src="/images/photo7-1.jpeg" alt="">
                    <img src="/images/photo7-2.jpeg" alt="">
                    <img src="/images/photo7-3.jpeg" alt="">
                    <img src="/images/photo7-4.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal8" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">소피아 공주 케이크</h4>
                </div>
                <div class="modal-body">
                    <img src="/images/photo8-1.jpeg" alt="">
                    <img src="/images/photo8-2.jpeg" alt="">
                    <img src="/images/photo8-3.jpeg" alt="">
                    <img src="/images/photo8-4.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="bottom-border-shadow">
        <div class="container background-white bottom-border">
            <div class="row margin-vert-30">
                <!-- Main Text -->
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a type="button" data-toggle="modal" href="#modal1">
                            <img src="/images/photo1.jpeg" alt="...">
                            <div class="caption">
                                <h3 class="text-center">생크림 포토 케이크</h3>
                                <p class="text-right margin-bottom-0">2016.10.22</p>
                                <!-- Modal -->
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a type="button" data-toggle="modal" href="#modal2">
                            <img src="/images/photo2.jpeg" alt="...">
                            <div class="caption">
                                <h3 class="text-center">남자친구 생일 케이크</h3>
                                <p class="text-right margin-bottom-0">2016.10.19</p>
                                <!-- Modal -->
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a type="button" data-toggle="modal" href="#modal3">
                            <img src="/images/photo3.jpeg" alt="...">
                            <div class="caption">
                                <h3 class="text-center">축구공 포토 케이크</h3>
                                <p class="text-right margin-bottom-0">2016.10.09</p>
                                <!-- Modal -->
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a type="button" data-toggle="modal" href="#modal4">
                            <img src="/images/photo4.jpeg" alt="...">
                            <div class="caption">
                                <h3 class="text-center">남자친구 생일 케이크</h3>
                                <p class="text-right margin-bottom-0">2016.10.01</p>
                                <!-- Modal -->
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a type="button" data-toggle="modal" href="#modal5">
                            <img src="/images/photo5.jpeg" alt="...">
                            <div class="caption">
                                <h3 class="text-center">어린이집 생일 케이크</h3>
                                <p class="text-right margin-bottom-0">2016.10.01</p>
                                <!-- Modal -->
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a type="button" data-toggle="modal" href="#modal6">
                            <img src="/images/photo6.jpeg" alt="...">
                            <div class="caption">
                                <h3 class="text-center">결혼 1주년 케이크</h3>
                                <p class="text-right margin-bottom-0">2016.09.17</p>
                                <!-- Modal -->
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a type="button" data-toggle="modal" href="#modal7">
                            <img src="/images/photo7.jpeg" alt="...">
                            <div class="caption">
                                <h3 class="text-center">승급 축하 케이크</h3>
                                <p class="text-right margin-bottom-0">2016.09.03</p>
                                <!-- Modal -->
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a type="button" data-toggle="modal" href="#modal8">
                            <img src="/images/photo8.jpeg" alt="...">
                            <div class="caption">
                                <h3 class="text-center">소피아 공주 케이크</h3>
                                <p class="text-right margin-bottom-0">2016.08.22</p>
                                <!-- Modal -->
                            </div>
                        </a>
                    </div>
                </div>
                <!-- End Main Text -->
            </div>
        </div>
    </div>
    <!-- === END CONTENT === -->

    <%-include ./common/footer%>
    <%-include ./common/js%>
    </div>
</body>
</html>
