<!DOCTYPE html>
<html>
<head>
    <!-- Title -->
    <title>JCake Homepage</title>
    <!-- Meta -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Favicon -->
    <link href="favicon.ico" rel="shortcut icon">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.css" rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/stylesheets/css/animate.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/css/nexus.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/css/custom.css" rel="stylesheet">
    <!-- Google Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300" rel="stylesheet" type="text/css">

</head>
<body>
<div id="body-bg">
    <!-- Phone/Email -->
    <div id="pre-header" class="background-gray-lighter">
        <div class="container no-padding">
            <div class="row hidden-xs">
                <div class="col-sm-6 padding-vert-5">
                    <strong>Phone:</strong>&nbsp;1-800-123-4567
                </div>
                <div class="col-sm-6 text-right padding-vert-5">
                    <strong>Email:</strong>&nbsp;info@joomla51.com
                </div>
            </div>
        </div>
    </div>
    <%-include ./common/header.ejs%>
    <!-- End Phone/Email -->



    <%-include ./common/footer%>
    <%-include ./common/js%>
    </div>
</body>
</html>
