<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%-JSON.stringify(req.body)%>
    <script type="text/javascript">
      console.log(<%=req%>);
    </script>
  </body>
</html>
