<!-- Header -->
<div id="header" class="background-white">
    <div class="container">
        <div class="row">
            <!-- Logo -->
            <div class="logo">
                <a href="/" title="">
                    <img src="/jcake_logo_resized_trans.png" alt="Logo" />
                </a>
            </div>
            <!-- End Logo -->
        </div>
    </div>
</div>
<!-- End Header -->
<!-- Top Menu -->
<div id="hornav" class="bottom-border-shadow background-white">
    <div class="container no-padding border-bottom">
        <div class="row">
            <div class="col-md-8 no-padding">
                <div class="visible-lg">
                    <ul id="hornavmenu" class="nav navbar-nav">
                        <li>
                            <a href="/" class="fa-home">홈</a>
                        </li>
                        <li>
                            <a href="/introduction">소개</a>
                        </li>
                        <li>
                            <span class="fa-copy ">갤러리</span>
                            <ul>
                                <li>
                                    <a href="flowercake">Flower Cake</a>
                                </li>

                                <li>
                                    <a href="photo">포토 케이크</a>
                                </li>

                                <li>
                                    <a href="cookie">쿠키</a>
                                </li>
                                <li>
                                    <a href="roll">롤 케이크</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="order">주문</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Top Menu -->
<!-- === END HEADER === -->